
<div class="wrapper">
    <!-- Sidebar -->
<app-sidenav></app-sidenav>
    <!-- End Sidebar -->

    <div class="main-panel">
<app-topnav></app-topnav>

<div class="container">
    <div class="grid-4">
        <div class="card">
            <h3 class="card-title">Open Tickets</h3>
            <p class="card-text tickets-colour"><span>10</span></p>
        </div>
        
        <div class="card">
            <h3 class="card-title">UPS Battery</h3>
            <div class="values-container">
                <div class="value-item">
                    <p class="card-text value-font">13.5</p>
                    <h6 class="card-text">Max</h6>
                </div>
                
                <div class="value-item">
                    <p class="card-text value-font">10</p>
                    <h6 class="card-text">Min</h6>
                </div>
            </div>
        </div>


        <div class="card">
            <h3 class="card-title">Card 3</h3>
            <p class="card-text">Hover effect included.</p>
        </div>
        <div class="card">
            <h3 class="card-title">Card 4</h3>
            <p class="card-text">Hover effect included.</p>
            <a href="#" class="card-button">Learn More</a>
        </div>
    </div>
    <div class="grid-4">
        <div class="card">
            <h3 class="card-title">Card 1</h3>
            <p class="card-text">Hover effect included.</p>
            <a href="#" class="card-button">Learn More</a>
        </div>
        <div class="card">
            <h3 class="card-title">Card 2</h3>
            <p class="card-text">Hover effect included.</p>
            <a href="#" class="card-button">Learn More</a>
        </div>
        <div class="card">
            <h3 class="card-title">Card 3</h3>
            <p class="card-text">Hover effect included.</p>
            <a href="#" class="card-button">Learn More</a>
        </div>
        <div class="card">
            <h3 class="card-title">Card 4</h3>
            <p class="card-text">Hover effect included.</p>
            <a href="#" class="card-button">Learn More</a>
        </div>
    </div>



    <div class="grid-2">
        <div class="card">
            <h3 class="card-title">Card A</h3>
            <p class="card-text">Hover effect included.</p>
            <a href="#" class="card-button">Learn More</a>
        </div>
        <div class="card">
            <h3 class="card-title">Card B</h3>
            <p class="card-text">Hover effect included.</p>
            <a href="#" class="card-button">Learn More</a>
        </div>
    </div>
    <div class="grid-3 ">
        <div style="width: 100%; max-width: 1200px; height: 300ppx; margin: 0 auto;">
            <canvas id="temperatureCanvas"></canvas>
          </div>
          
          

    </div>


    <div class="grid-3 ">
        <div class="card">
            <h3 class="card-title">Card B</h3>
            <p class="card-text">Hover effect included.</p>
            <a href="#" class="card-button">Learn More</a>
        </div>

    </div>

      
      
      
      
      

    <div class="grid-2">
        <div class="card">
            <h3 class="card-title">Card A</h3>
            <p class="card-text">Hover effect included.</p>
            <a href="#" class="card-button">Learn More</a>
        </div>
        <div class="card">
            <h3 class="card-title">Card B</h3>
            <p class="card-text">Hover effect included.</p>
            <a href="#" class="card-button">Learn More</a>
        </div>
    </div>




</div>


  <app-footer></app-footer>
    </div>

 
    <!-- End Custom template -->
  </div>
  <!--   Core JS Files   -->

