/* Light Mode (Default) */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
  }
  
  /* Dark Mode */
  .dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
  }
  
  /* Apply to Body */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
  }
  

  .theme-toggle-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: inherit;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 780px;
  }
  
  .dark-mode .theme-toggle-btn {
    color: #f5a623;
  }
  