
<div class="wrapper">
  <!-- Sidebar -->
<app-sidenav></app-sidenav>
  <!-- End Sidebar -->

  <div class="main-panel">
<app-topnav></app-topnav>

    <div class="container">
      <div class="page-inner">
 

        <nz-page-header class="site-page-header" nzBackIcon>
          <nz-page-header-title>Add User</nz-page-header-title>
          <!-- <nz-page-header-subtitle>This is a subtitle</nz-page-header-subtitle> -->
           
   
   
        </nz-page-header>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
      
              <form class="card" (ngSubmit)="onSubmit()">
                <div class="card-header pb-0">
                  <div class="card-options">
                    <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                    <a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">

                    <div class="col-sm-3 col-md-3">
                      <div class="mb-3">
                        <nz-form-item>
                          <nz-form-label [nzRequired]="true">First Name</nz-form-label>
                          <nz-form-control [nzErrorTip]="'First Name is required.'" [nzValidateStatus]="firstname.invalid && (firstname.dirty || firstname.touched) ? 'error' : ''">
                            <input nz-input placeholder="First Name" name="firstname" [(ngModel)]="userData.firstname" required #firstname="ngModel"
                                   (focus)="onFocus(true)" (blur)="onFocus(false)" [ngClass]="{ 'highlight-border': isFocused }">
                          </nz-form-control>
                        </nz-form-item>
                        
                        
                        
                   
                      </div>
                    </div>    
                    
                    <div class="col-sm-3 col-md-3">
                      <div class="mb-3">
                        <nz-form-item>
                          <nz-form-label [nzRequired]="true">Last Name</nz-form-label>
                          <nz-form-control [nzErrorTip]="'Last Name is required.'" 
                                             [nzValidateStatus]="lastname.invalid && (lastname.dirty || lastname.touched) ? 'error' : ''">
                            <input nz-input placeholder="Last Name" name="lastname" 
                                   [(ngModel)]="userData.lastname" required #lastname="ngModel"
                                   (focus)="onFocus(true)" (blur)="onFocus(false)" 
                                   [ngClass]="{ 'highlight-border': isFocused }">
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>


                    <div class="col-sm-3 col-md-3">
                      <div class="mb-3">
                        <nz-form-item>
                          <nz-form-label [nzRequired]="true">User Name</nz-form-label>
                          
                          <nz-form-control [nzErrorTip]="'User Name is required.'" [nzValidateStatus]="username.invalid && (username.dirty || username.touched) ? 'error' : ''">
                            <input nz-input placeholder="User Name" name="username" [(ngModel)]="userData.username" required #lastname="ngModel"
                                   (focus)="onFocus(true)" (blur)="onFocus(false)" [ngClass]="{ 'highlight-border': isFocused }">
                          </nz-form-control>
                        </nz-form-item>
                        
  
                      </div>
                    </div>
                    
            
                    <div class="col-sm-3 col-md-3">
                      <div class="mb-3">
                     

                        <nz-form-item>
                          <nz-form-label [nzRequired]="true">Email</nz-form-label>
                          <nz-form-control [nzErrorTip]="'Please enter a valid email address.'" 
                                           [nzValidateStatus]="email.invalid && (email.dirty || email.touched) ? 'error' : ''">
                            <input nz-input type="email" placeholder="Email" name="email" [(ngModel)]="userData.email" required #email="ngModel"
                                   (focus)="onFocus(true)" (blur)="onFocus(false)" 
                                   [ngClass]="{ 'highlight-border': isFocused }">
                          </nz-form-control>
                        </nz-form-item>
                        
                      </div>
                    </div>
                    
                    <div class="col-sm-3 col-md-3">
                      <nz-form-item>
                        <nz-form-label [nzRequired]="true">Password</nz-form-label>
                        <nz-form-control [nzErrorTip]="'Please enter a valid email address.'" 
                                         [nzValidateStatus]="email.invalid && (email.dirty || email.touched) ? 'error' : ''">
                          <input nz-input type="email" placeholder="***********" name="email" [(ngModel)]="userData.email" required #email="ngModel"
                                 (focus)="onFocus(true)" (blur)="onFocus(false)" 
                                 [ngClass]="{ 'highlight-border': isFocused }">
                        </nz-form-control>
                      </nz-form-item>
                    
                      <!-- <nz-form-item>
                        <nz-form-label [nzRequired]="true">Password</nz-form-label>
                        <nz-form-control 
                          [nzErrorTip]="'Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character.'" 
                          [nzValidateStatus]="pwd.invalid && (pwd.dirty || pwd.touched) ? 'error' : ''">
                          
                          <nz-input-group [nzSuffix]="passwordIcon">
                            <input nz-input 
                                   [type]="isPasswordVisible ? 'text' : 'password'" 
                                   placeholder="Password" 
                                   name="pwd"
                                   [(ngModel)]="userData.pwd" 
                                   required 
                                   #pwd="ngModel"
                                   (focus)="onFocus(true)" 
                                   (blur)="onFocus(false)" 
                                   [ngClass]="{ 'highlight-border': isFocused }"
                                   pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}">
                          </nz-input-group>
                      
                          <ng-template #passwordIcon>
                            <i nz-icon nzTheme="outline" 
                               [nzType]="isPasswordVisible ? 'eye-invisible' : 'eye'" 
                               class="cursor-pointer" 
                               (click)="togglePasswordVisibility()">
                            </i>
                          </ng-template>
                      
                        </nz-form-control>
                      </nz-form-item> -->
                      
                      
                      
                   
                     
                    </div>
                    
                    <div class="col-sm-3 col-md-3">
                   
                      <!-- <nz-form-item>
                        <nz-form-label [nzRequired]="true">Confirm Password</nz-form-label>
                        <nz-form-control [nzErrorTip]="'Passwords do not match.'" 
                                         [nzValidateStatus]="confirmPwd.invalid && (confirmPwd.dirty || confirmPwd.touched) ? 'error' : ''">
                          <nz-input-group [nzSuffix]="confirmPasswordIcon">
                            <input nz-input [type]="isConfirmPasswordVisible ? 'text' : 'password'" placeholder="Confirm Password" name="confirmPwd"
                                   [(ngModel)]="userData.confirmPwd" required #confirmPwd="ngModel"
                                   (focus)="onFocus(true)" (blur)="onFocus(false)" 
                                   [ngClass]="{ 'highlight-border': isFocused }">
                          </nz-input-group>
                          <ng-template #confirmPasswordIcon>
                            <i nz-icon [nzType]="isConfirmPasswordVisible ? 'eye-invisible' : 'eye'" 
                               (click)="toggleConfirmPasswordVisibility()" class="cursor-pointer"></i>
                          </ng-template>
                        </nz-form-control>
                      </nz-form-item> -->
                      

                      <nz-form-item>
                        <nz-form-label [nzRequired]="true">C Password</nz-form-label>
                        <nz-form-control [nzErrorTip]="'Please enter a valid email address.'" 
                                         [nzValidateStatus]="email.invalid && (email.dirty || email.touched) ? 'error' : ''">
                          <input nz-input type="email" placeholder="********" name="email" [(ngModel)]="userData.email" required #email="ngModel"
                                 (focus)="onFocus(true)" (blur)="onFocus(false)" 
                                 [ngClass]="{ 'highlight-border': isFocused }">
                        </nz-form-control>
                      </nz-form-item>
                  
                    </div>
                    
                    
                    <div class="col-sm-3 col-md-3">
                      <div class="mb-3">
                        <nz-form-item>
                          <nz-form-label [nzRequired]="true">Phone Number</nz-form-label>
                          <nz-form-control [nzErrorTip]="'Please enter a valid phone number.'" 
                                           [nzValidateStatus]="mobile.invalid && (mobile.dirty || mobile.touched) ? 'error' : ''">
                            <input nz-input type="tel" placeholder="Phone Number" name="mobile" [(ngModel)]="userData.mobile"
                                   required #mobile="ngModel" (focus)="onFocus(true)" (blur)="onFocus(false)" 
                                   [ngClass]="{ 'highlight-border': isFocused }" pattern="[0-9]*" inputmode="numeric"
                                   (keypress)="onKeyPress($event)">
                          </nz-form-control>
                        </nz-form-item>
                        

                        
                        
                        
                        
                     
                
                      </div>
                    </div>
                    
                    <div class="col-sm-3 col-md-3">
                      <div class="mb-3">
                       

                        <nz-form-item>
                          <nz-form-label [nzRequired]="true">Role Name</nz-form-label>
                          <nz-form-control [nzErrorTip]="'Role name is required.'" 
                                           [nzValidateStatus]="role.invalid && (role.dirty || role.touched) ? 'error' : ''">
                            <input nz-input placeholder="Role Name" name="role" [(ngModel)]="userData.role" required #role="ngModel"
                                   (focus)="onFocus(true)" (blur)="onFocus(false)" 
                                   [ngClass]="{ 'highlight-border': isFocused }">
                          </nz-form-control>
                        </nz-form-item>
                        
  
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-sm-3 col-md-3">
                        <div class="mb-3">
                          <!-- <nz-form-item> -->
                            <!-- <nz-form-label>Reporting Manager</nz-form-label> -->
                           
                            <!-- <nz-form-item>
                              <nz-form-label [nzRequired]="true">Role Name</nz-form-label>
                              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue">
                                <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                                <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                                <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
                              </nz-select>
                            </nz-form-item> -->
                             <nz-form-item>
                              <nz-form-label [nzRequired]="true">Role Name</nz-form-label>
                              <nz-form-control [nzErrorTip]="'Role name is required.'" 
                                               [nzValidateStatus]="role.invalid && (role.dirty || role.touched) ? 'error' : ''">
                                <input nz-input placeholder="Role Name" name="role" [(ngModel)]="userData.role" required #role="ngModel"
                                       (focus)="onFocus(true)" (blur)="onFocus(false)" 
                                       [ngClass]="{ 'highlight-border': isFocused }">
                              </nz-form-control>
                            </nz-form-item>
                            
                          <!-- </nz-form-item> -->
                          
                        </div>
                      </div>
                      <div class="col-sm-3 col-md-3">
                        <div class="mb-3">
                          <!-- <nz-form-item> -->
                            <nz-form-label>Accessible Stations</nz-form-label>
                            <!-- <nz-form-control>
                              <nz-select [(ngModel)]="userData.locationid" name="location_id" (ngModelChange)="onLocationChange()" 
                                         nzMode="multiple" nzPlaceHolder="Select Accessible Stations">
                                         <nz-option [nzValue]="'Sagar Society'" [nzLabel]="'Sagar Society'"></nz-option>
                                         <nz-option [nzValue]="'Vasantha nagar'" [nzLabel]="'Vasantha nagar'"></nz-option>
                                         <nz-option [nzValue]="'BanjaraHills'" [nzLabel]="'BanjaraHills'"></nz-option>
                              </nz-select>
                            </nz-form-control> -->


                            <nz-form-item>
                              <!-- <nz-form-label [nzRequired]="true">Role Name</nz-form-label> -->
                              <nz-form-control [nzErrorTip]="'Role name is required.'" 
                                               [nzValidateStatus]="role.invalid && (role.dirty || role.touched) ? 'error' : ''">
                                <input nz-input placeholder="Role Name" name="role" [(ngModel)]="userData.role" required #role="ngModel"
                                       (focus)="onFocus(true)" (blur)="onFocus(false)" 
                                       [ngClass]="{ 'highlight-border': isFocused }">
                              </nz-form-control>
                            </nz-form-item>
                          <!-- </nz-form-item> -->
                          
                          
                          
                          
                        </div>
                      </div>
                    </div>
                    <div>
                      
                    </div>
                    <label class="permissons">Permissions </label>
                    <div class="col-sm-3 col-md-3">
                      <div class="mb-3 d-flex align-items-center">
                        <label class="form-label me-2 mb-0" for="checkboxAddDevice">Add Device</label>
                        <input 
                          type="checkbox" 
                          id="checkboxAddDevice" 
                          (change)="onToggleAddDevice($event)" 
                          [checked]="userData.add_device === '1'" 
                          class="custom-checkbox" 
                        />
                      </div>
                    </div>
                    
                    
                    <div class="col-sm-3 col-md-3">
                      <div class="mb-3 d-flex align-items-center-center equal-height">
                        <label class="form-label me-2" for="checkboxAddLocation"> Add Location</label>
                        <input type="checkbox" id="checkboxAddLocation" (change)="onToggleAddLocation($event)" [checked]="userData.add_location === '1'" class="custom-checkbox" />
                      </div>
                    </div>
                    
                    <div class="col-sm-3 col-md-3">
                      <div class="mb-3 d-flex align-items-center-center equal-height">
                        <label class="form-label me-1" for="checkboxAddUser"> Add User</label>
                        <input type="checkbox" id="checkboxAddUser" (change)="onToggleAddUser($event)" [checked]="userData.add_user === '1'" class="custom-checkbox" />
                      </div>
                    </div>
                    
                    
                  </div>
                </div>
                <div class="card-footer text-end pt-0 mb-3 mt-5">
                  <button mat-flat-button class="btn btn-primary" type="submit" (click)= 'addUser()'>Submit</button>
                  <!-- <button class="btn btn-primary" type="submit">Submit</button> -->
                </div>
              </form>
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>

<app-footer></app-footer>
  </div>
</div>

